ELASTIC_SOURCE=192.168.10.110:9201
ELASTIC_DEST=192.168.10.124:9201
SSL=FALSE
TIMEOUT=
TIME_SLEEP=
ELASTIC_DURATION=
KAVOSH_INDEX=inews
MAP_INDEX=map-
RTP_INDEX=rtp-
LOGLEVEL=logging.INFO
THREADS = 10